body {
  margin: 0 auto; 
  width: 80%; 
}

.rating {
  margin-top: 10px;
}

#js-add-bookmark-form div {
  margin: 0 auto; 
  margin-top: 20px;
}

.submit-button {
  margin-top: 20px;
}

/*button colors*/

