background {
  color: red;
}

body {
  margin: 0 auto; 
  width: 80%; 
}

.rating {
  margin-top: 20px;
}

#js-add-bookmark-form div {
  margin: 0 auto; 
  margin-top: 20px;
}

.submit-button {
  color: blue;
}

.js-add-bookmark-button {
  color: blue;
  font-weight: bold;
  vertical-align: center;
}

.add-bookmark-form {
  display: block;
}

.js-bookmark-title, .js-bookmark-url, .js-bookmark-description, .js-bookmark-rating {
  display: block; 
  margin-right: 0;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.error {
  color: red;
}
